body {
    width: 99%;
    background-color: gray;
}

.main {
    position: relative;
    height: 100%;
    width: 100%;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #fdffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 2px solid #89ffff;
}

.content .header {
    margin: 20px;
    padding: 10px;
    text-align: center;
}

.content .container {
    margin: 20px;
    padding: 10px;
}
.info {
    display: block;
}

.group {
    background: #b5ffe9;
    margin: 5px;
    padding: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.group:hover {
    background: #aaaaaa;
}
.group p {
    min-width: 300px;
}
.group label {
    font-weight: bold;
}
.group p input {
    min-width: 300px;
    width: 100%;
    padding: 4px;
    border: 1px solid #89ffff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
input[type=button], input[type=submit] {
    cursor: pointer;
}
input[type=button]:hover, input[type=submit]:hover {
    background: #7442d7;
    color: #ffffff;
}
