.button {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99;
    background: transparent;
    -webkit-transition: ease 0.4s;
    -moz-transition: ease 0.4s;
    -ms-transition: ease 0.4s;
    -o-transition: ease 0.4s;
    transition: ease 0.4s;
}
.button button {
    cursor: pointer;
    background: transparent;
    border: 0;
    float: right;
}

.button button img {
    width: 35px;
    height: 35px;
    -webkit-transition: transform 0.4s ease-in-out;
    -moz-transition: transform 0.4s ease-in-out;
    -ms-transition: transform 0.4s ease-in-out;
    -o-transition: transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
}

.dropdown {
    padding: 10px;
    height: 60px;
    background: #ffffff;
    text-align: center;
}

.dropdown button {
    margin-right: 23%;
    cursor: pointer;
    background: #34b2d9;
    background-image: -webkit-linear-gradient(top, #34b2d9, #2b32b8);
    background-image: -moz-linear-gradient(top, #34b2d9, #2b32b8);
    background-image: -ms-linear-gradient(top, #34b2d9, #2b32b8);
    background-image: -o-linear-gradient(top, #34b2d9, #2b32b8);
    background-image: linear-gradient(to bottom, #34b2d9, #2b32b8);
    -webkit-border-radius: 27px;
    -moz-border-radius: 27px;
    border-radius: 27px;
    font-family: Arial;
    color: #ffffff;
    font-size: 19px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.dropdown button:hover {
    background: #3c99fc;
    background-image: -webkit-linear-gradient(top, #3c99fc, #34d9bd);
    background-image: -moz-linear-gradient(top, #3c99fc, #34d9bd);
    background-image: -ms-linear-gradient(top, #3c99fc, #34d9bd);
    background-image: -o-linear-gradient(top, #3c99fc, #34d9bd);
    background-image: linear-gradient(to bottom, #3c99fc, #34d9bd);
    text-decoration: none;
}

.switch {
    position: relative;
    display: inline-block;
    width: 176px;
    height: 34px;
}

.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "Street points";
    height: 26px;
    left: 4px;
    bottom: 4px;
    width: 142px;
    font-weight: bold;
    font-size: 20px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 29px;
}
